.page-banner-wrapper.page-banner-has-image {
	margin-left: 0;
	margin-right: 0;
	.collection-thumbnail-image-container {
		height: 40vw;
		display: flex;
		background: black;
		img {
			opacity: 0.6;
			width: 100%;
			object-fit: cover;
		}
	}
}

.Product-header__wrapper {
	background: #231f20;
	border-bottom: #231f20 3px solid;
	@media screen and (max-width: 768px) {
		background: #231f20;
	}
	.Product-header__title {
		h1 {
			padding: 0.5em;
			margin: 0;
			color: white !important;
		}
	}
}
.Product-banner {
	.Product-banner__media {
		.Product-banner__image-wrapper {
			height: 50vw;
			max-height: 670px;
			overflow: hidden;
		}
	}
}
