#content {
  background: white;
}

// hide second nav on mobile
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #content {
    margin-top: 60px;
    padding-top: 0;
  }
  #secondaryNavWrapper {
    display: none;
  }
}
a {
  &:link {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.ag-page-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  h1 {
    color: white !important;
    font-size: 8vw !important;
    margin-bottom: 0;
    text-shadow: 2px 2px 15px rgba(10, 10, 10, 0.5);
  }
  p {
    color: white;
  }
}

.sqs-block-horizontalrule {
  opacity: 0.2;
}

.fas {
  opacity: 0;
  visibility: hidden;
}

.index-section {
  min-height: 200px;
}

.fa.fa-search {
  color: black;
  transform: scale(1.8, 1.8);
  -webkit-transform: scale(1.8, 1.8);
  -moz-transform: scale(1.8, 1.8);
  -o-transform: scale(1.8, 1.8);
  margin-right: 0.5em;
  margin-left: 1em;
}

.page-title {
  transform: translateX(-250px);
  opacity: 0;
  animation: slide-up 0.4s forwards;
  animation-delay: 1s !important;
}

.page-description {
  p:nth-child(1) {
    transform: translateX(-250px);
    opacity: 0;
    animation: slide-right 0.4s forwards;
    animation-delay: 3s !important;
  }
  p:nth-child(2) {
    transform: translateY(30px);
    opacity: 0 !important;
    animation: slide-up 0.4s ease-out forwards;
    animation-delay: 3s !important;
  }
  a {
    color: #525254;
    text-shadow: none;
    text-transform: uppercase;
    background: rgba(10, 10, 10, 0.5);
    color: white;
    font-size: 0.6em !important;
    padding: 20px 40px;
    transition: 0.4s;
    border-radius: 3px;

    &:hover {
      background: rgba(10, 10, 10, 0.8);
    }
  }
}

.collection-header {
  display: block;
  min-height: 0 !important;
}
