.mobile-bar-wrapper {
    .mobile-branding-wrapper {
        transition: opacity 0.4s;
        &.active-scrolling {
            opacity: 0;
            visibility: hidden;
        }
    }
}
#secondaryNavWrapper {
    display: flex;
    transition: opacity 0.4s;
    &.cart-open {
        opacity: 0;
    }
    .social-top-nav {
        margin-left: 1em;
        @media screen and (max-width:1168px) {
            display: none;
        }
        .sqs-svg-icon--list {
            display: flex;
        }
    }
}
.Cart {
    cursor: pointer;
}