.Lightbox-carousel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms;
	width: 100%;
	z-index: 999999999999;
	background: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.Lightbox-carousel__close {
	color: black;
	font-size: 2em;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	cursor: pointer;
	z-index: 99999;
}

.Lightbox-carousel__content {
	max-width: 1400px;
	margin: 0 auto;
	opacity: 0;
	transition: opacity 0.4s 250ms;
	&.active {
		opacity: 1;
	}
	.tns-outer {
		.tns-nav {
			position: absolute;
			left: 50%;
			top: 80%;
			transform: translateX(-50%);
			z-index: 99;
			button {
				border: 1px solid black;
				height: 10px;
				width: 10px;
				border-radius: 50%;
			}
		}
		.tns-controls {
			button {
				background: none;
				border: none;
				outline: none;
				z-index: 99;
			}
			[data-controls='prev'] {
				position: absolute;
				left: 1em;
				top: 50%;
				transform: translateY(-50%);
			}
			[data-controls='next'] {
				position: absolute;
				right: 1em;
				top: 50%;
				transform: translateY(-50%);
			}
			@media screen and (max-width: 1024px) {
				div {
					top: 100% !important;
					bottom: 0;
				}
			}
		}
		.Lightbox-carousel__list {
			list-style-type: none;
			padding: 0;
		}
		.Lightbox-carousel__image-wrapper {
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			.image {
				max-height: 90vh;
				max-width: 100%;
				height: auto;
			}
		}
	}
}
